@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #242424;
	background: #f1f1f1;
	font-family: "Poppins", sans-serif;
}

@layer utilities {
	/* Reusable utility classes */
	.flex-start {
		@apply flex items-center;
	}
	.flex-between {
		@apply flex items-center justify-between;
	}

	.flex-center {
		@apply flex items-center justify-center;
	}

	.flex-column {
		@apply flex flex-col;
	}

	.flex-column-between {
		@apply flex flex-col justify-between;
	}

	.h3-bold {
		@apply font-semibold text-lg mb-0;
	}

	.text-description {
		@apply text-neutral-600 font-light text-sm;
	}

	.text-bold {
		@apply font-semibold text-lg;
	}

	.small-text {
		@apply text-sm leading-3 tracking-wide text-primary-600;
	}

	.hide-scrollbar::-webkit-scrollbar {
		@apply hidden;
	}
}
